<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--
    mybatis可以使用properties来引入外部properties配置文件的内容；
    resource: 引入类路径下的资源
    url: 引入网络路径或者磁盘路径下的资源
    -->
    <properties resource="jdbc.properties"></properties>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
        <!--显示指定的每个我们需要更改配置的值，即使他是默认的。防止版本更新带来的问题-->
        <!--开启二级缓存-->
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>
        <!--设置日志-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <!--
    typeAliases:别名处理器
    -->
    <typeAliases>
        <package name="com.hzh.crm.model"/>
    </typeAliases>


    <databaseIdProvider type="DB_VENDOR">
        <!--为不同的厂商起别名-->
        <property name="MySQL" value="mysql"/>
        <property name="Oracle" value="oracle"/>
        <property name="SQL Server" value="sqlserver"/>
    </databaseIdProvider>

    <mappers>
        <!--<package name="com.hzh.mybatis.dao"/>-->
        <!--<mapper resource="dao/XXXDao.xml"></mapper>-->
        <package name="com.hzh.crm.settings.mapper"/>
        <package name="com.hzh.crm.workbench.mapper"/>
    </mappers>

</configuration>